

*{
    margin: 0;
    padding: 0;
}
#projects{
    /* height: 80vh; */
}

.project-first {
    padding: 20px;
}
.project-first h2{
    font-size: 2.5rem;
}

.project-first h1{
    font-size: 1rem;
}

.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.project-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    padding: 10px;
    transition: transform 0.3s;
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-card h3 {
    margin: 10px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.project-card button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    /* background-color: #f0f0f0; */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #dddddd8a;
}

@media (max-width: 768px) {
    .project-container {
        flex-direction: column;
        align-items: center;
    }
}
